/Metamodele 1 - Questionnaire/Projet_IDM/bin
/Metamodele 1 - Questionnaire/Projet_IDM/META-INF
/Metamodele 1 - Questionnaire/Projet_IDM/.settings
/Metamodele 1 - Questionnaire/Projet_IDM/.classpath
/Metamodele 1 - Questionnaire/Projet_IDM/.project
/Metamodele 1 - Questionnaire/Projet_IDM/src

/Metamodele 2 - Presentation/Meta2/bin
/Metamodele 2 - Presentation/Meta2/META-INF
/Metamodele 2 - Presentation/Meta2/.settings
/Metamodele 2 - Presentation/Meta2/.classpath
/Metamodele 2 - Presentation/Meta2/.project
/Metamodele 2 - Presentation/Meta2/src

/M2M/QuestionnaireToPresentationQVT/.settings
/M2M/QuestionnaireToPresentationQVT/.project

/Xtext/org.example.qcm.dsl.ide
/Xtext/org.example.qcm.dsl.tests
/Xtext/org.example.qcm.dsl.ui
/Xtext/org.example.qcm.dsl.ui.tests
/Xtext/org.example.qcm.dsl/.launch
/Xtext/org.example.qcm.dsl/.settings
/Xtext/org.example.qcm.dsl/bin
/Xtext/org.example.qcm.dsl/META-INF
/Xtext/org.example.qcm.dsl/.project
/Xtext/org.example.qcm.dsl/.classpath

/M2T/org.eclipse.acceleo.module.sample/META-INF
/M2T/org.eclipse.acceleo.module.sample/.settings
/M2T/org.eclipse.acceleo.module.sample/.classpath
/M2T/org.eclipse.acceleo.module.sample/.project
/M2T/org.eclipse.acceleo.module.sample/build.properties